#main-wrapper{
    min-width: 20cm;
    min-height: 10cm;
    padding: 1cm;
    padding-top: 1cm;
    direction: rtl;
}

.field-wrapper{
    margin-top: 0.5cm;
    border-radius: 0.1cm;
}
.field-wrapper .field-wrapper-header{
    background-color: #79aec8;
    padding: 0.2cm;
    padding-right: 0.8cm;
    color: white;
    border-radius: 0.1cm;
}

.field-input-wrapper{
    padding: 0.3cm;
    padding-right: 0.8cm;
    border: solid #999999 1px;
    border-radius: 0.1cm;
}

.field-input-wrapper .field-label{
    text-align: left;
}
.field-input-wrapper .field-input{
    text-align: right;
}

.checkbox-label{
    margin-right: 0.6cm;
}

.button-wrapper{
    border-bottom: solid 3px #999999;
    padding-bottom: 0.5cm;
}

.button-wrapper div{
    margin-top: 1cm;
    border-radius: 0.1cm;
}

.button-wrapper div div{
    width: 2cm;
    height: 1cm;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.25cm;
}


