#main-content-wrapper{
    padding-top: 1cm;
}

#main-image-wrapper{
    text-align: center;
    margin-top: 0.1cm;
}

#main-image-wrapper img{
    width: 5cm;
    height: 5cm;
}

.text-wrapper{
    direction: rtl;
}

.icon-link-wrapper img{
    width: 2cm;
}

#icons-wrapper{
    margin-top: 1cm;
    margin-bottom: 3cm;
}

.text-link-wrapper{
    text-align: center;
}






