#header-wrapper{
    background-image: url("/static/img/header.jpg");
    height: 5cm;
    background-size:100% 100% ;
    background-repeat: no-repeat;
}

#header-wrapper .row{
    margin-top: 2cm;
}

#user-property-wrapper{
    background-color: white;
    height: 2cm;
    border-bottom-right-radius: 1cm;
    border-top-right-radius: 1cm;
}

#page-title-wrapper{
    background-color: white;
    height: 2cm;
    border-bottom-left-radius: 1cm;
    border-top-left-radius: 1cm;
}

#image-wrapper img{
    height: 2cm;
    width: 2cm;
}





