a{
    text-decoration: none;
}

#main-wrapper{
    min-width: 20cm;
    min-height: 10cm;
    height: auto;
    padding-bottom: 3cm;
    overflow: auto;
}

#header-page{
    text-align: center;
    font-size: 0.9cm;
    height: 2cm;
    background-color: #1b6d85;
}

#page-title{
    color: white;
    padding-top: 0.2cm;
}

#quit-link{
    font-size: 0.4cm;
    color: white;
    padding-top: 0.3cm;
}

#quit-link a{
    color: white;
}

#content-wrapper{
    width: 10cm;
    height: 10cm;
    margin: 0 auto;
}

.group-wrapper{
    margin-top: 1cm;
}

.group-header{
    color: white;
    background-color: #1f7e9a;
    height: 1cm;
    border-radius: 0.2cm;
    padding-right: 0.3cm;
    padding-top: 0.4cm;
    padding-bottom: 0.8cm;
}

.group-header div{
    text-align: right;
}

.link-row{
    padding: 0.3cm;
    border: solid #999999 1px;
    border-radius: 0.2cm;
    text-align: right;
}

.link-label{

}

.link-label a{
    color: #1b6d85;
}












