{#{% extends "admin/base_site.html" %}#}
{#{% load i18n admin_static %}#}
{##}
{#{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}#}
{##}
{#{% block coltype %}colMS{% endblock %}#}
{##}
{#{% block bodyclass %}dashboard{% endblock %}#}
{##}
{#{% block breadcrumbs %}{% endblock %}#}
{##}
{#{% block content %}#}
{#<div id="content-main" style="direction: rtl">#}
{##}
{#{% if app_list %}#}
{#    {% for app in app_list %}#}
{#        <div class="module">#}
{#        <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">#}
{#        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}</a></caption>#}
{#        {% for model in app.models %}#}
{#            <tr>#}
{#            {% if model.admin_url %}#}
{#                <th scope="row" style="text-align: right"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>#}
{#            {% else %}#}
{#                <th scope="row">{{ model.name }}</th>#}
{#            {% endif %}#}
{##}
{#            {% if model.add_url %}#}
{#                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>#}
{#            {% else %}#}
{#                <td>&nbsp;</td>#}
{#            {% endif %}#}
{##}
{#            {% if model.admin_url %}#}
{#                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>#}
{#            {% else %}#}
{#                <td>&nbsp;</td>#}
{#            {% endif %}#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </table>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% else %}#}
{#    <p>{% trans "You don't have permission to edit anything." %}</p>#}
{#{% endif %}#}
{#</div>#}
{#{% endblock %}#}
{##}
{#{% block sidebar %}#}
{#<div id="content-related">#}
{#    <div class="module" id="recent-actions-module">#}
{#        <h2>{% trans 'Recent Actions' %}</h2>#}
{#        <h3>{% trans 'My Actions' %}</h3>#}
{#            {% load log %}#}
{#            {% get_admin_log 10 as admin_log for_user user %}#}
{#            {% if not admin_log %}#}
{#            <p>{% trans 'None available' %}</p>#}
{#            {% else %}#}
{#            <ul class="actionlist">#}
{#            {% for entry in admin_log %}#}
{#            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">#}
{#                {% if entry.is_deletion or not entry.get_admin_url %}#}
{#                    {{ entry.object_repr }}#}
{#                {% else %}#}
{#                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>#}
{#                {% endif %}#}
{#                <br/>#}
{#                {% if entry.content_type %}#}
{#                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>#}
{#                {% else %}#}
{#                    <span class="mini quiet">{% trans 'Unknown content' %}</span>#}
{#                {% endif %}#}
{#            </li>#}
{#            {% endfor %}#}
{#            </ul>#}
{#            {% endif %}#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}









<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/indexAdmin.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/IndexKarbarKarkhane.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/IndexKarbarTehran.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/IndexPageAdmin.css' %}" type="text/css" rel="stylesheet">
</head>
<body>


{% if group == 'superuser' %}
<div id="main-wrapper">
    <div id="header-page" class="container-fluid">
        <div class="row">
            <div id="page-title" class="col-md-4 col-md-offset-4">مدیریت سایت</div>
            <div id="quit-link" class="col-md-1 col-md-offset-3"><a href="{% url 'adminLogout' %}">خروج</a></div>
        </div>
    </div>
    <div id="content-wrapper">
        {% if group == 'karbarTehran' or group == 'admin' or group == 'karbarKarkhane' or group == 'superuser' %}
            <div class="group-wrapper container-fluid">
                <div class="group-header row">
                    <div class="col-md-4 col-md-offset-8">سفارشات</div>
                </div>
                <div class="link-row row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_reserveform' %}">سفارش ها</a></div>
                </div>
                <div class="link-row row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_processformkargar' %}">وضعیت سفارش ها</a></div>
                </div>
                {% if group == 'admin' or group == 'karbarTehran' or group == 'superuser' %}
                    <div class="link-row row">
                        <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'addform_reserveform' %}">افزودن سفارش جدید</a></div>
                    </div>
                {% endif %}
                {% if group == 'admin' or group == 'karbarTehran' or group == 'superuser' %}
                    <div class="link-row row">
                        <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_customerMessages' %}">پیام مشتریان</a></div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if group == 'admin' or group == 'karbarTehran' or group == 'karbarKarkhane' or group == 'superuser' %}
            <div class="group-wrapper container-fluid">
                <div class="group-header row">
                    <div class="col-md-4 col-md-offset-8">کاربران</div>
                </div>
                {% if group == 'admin' or group == 'karbarTehran' or group == 'superuser' %}
                <div class="link-row row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_customer' %}">مشتریان</a></div>
                </div>
                {% endif %}
                {% if group == 'admin' or group == 'superuser' %}
                    <div class=" link-row row">
                        <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_karbarTehran' %}">کاربران تهران</a></div>
                    </div>
                {% endif %}
                {% if group == 'admin' or group == 'superuser' %}
                    <div class=" link-row row">
                        <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_karbarKarkhane' %}">کاربران کارخانه</a></div>
                    </div>
                {% endif %}
                {% if group == 'admin' or group == 'karbarKarkhane' or group == 'superuser' %}
                    <div class=" link-row row">
                        <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_kargar' %}">کارگران</a></div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if group == 'admin' or group == 'superuser' %}
            <div class="group-wrapper container-fluid">
                <div class="row group-header">
                    <div class="col-md-4 col-md-offset-8">اطلاعات پایه</div>
                </div>
                <div class="row link-row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_dookht' %}">دوخت</a></div>
                </div>
                <div class="row link-row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_chap' %}">پارچه</a></div>
                </div>
                <div class="row link-row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_servicetarh' %}">خدمات طرح</a></div>
                </div>
                <div class="row link-row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_chap' %}">چاپ</a></div>
                </div>
                <div class="row link-row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_process' %}">فرایند</a></div>
                </div>
                <div class="row link-row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'changeList_otherServices' %}">سایر خدمات</a></div>
                </div>
            </div>
        {% endif %}
        {% if group == 'superuser' %}
            <div class="group-wrapper container-fluid">
                <div class="row group-header">
                    <div class="col-md-4 col-md-offset-8">کاربران</div>
                </div>
                <div class="row link-row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'AdminAuthGroups' %}">گروه ها</a></div>
                </div>
                <div class="row link-row">
                    <div class="link-label col-md-6 col-md-offset-6"><a href="{% url 'AdminAuthUsers' %}">کاربران</a></div>
                </div>
        {% endif %}
        </div>
    </div>
</div>

{% elif group == 'karbarKarkhane' %}

{#  ka is short of karkhane and it appears before of id and class code below  #}
<div id="ka-main-wrapper">
    <div id="header-wrapper" class="container-fluid">
        <div class="row">
            <div id="user-property-wrapper" class="col-sm-4 col-xs-5 col-md-3">
                <div id="container-property" class="center-vertically">
                    <div id="username-wrapper">
                        <div id="username-label-wrapper">نام کاربری:</div>
                        <div id="username-value-wrapper">{{ name_person }}</div>
                    </div>
                    <div id="links-wrapper">
{#                        <div id="home-link"><a href="{% url 'HomepageCustomer' %}">خانه</a> |</div>#}
                        <div id="exit-link"><a href="{% url 'adminLogout' %}">خروج</a></div>
                    </div>
                </div>
                <div id="image-wrapper" class="center-vertically">
                    <img class="xs-invisible img-circle" src="{% static 'img/anonymous.png' %}">
                </div>
            </div>
            <div id="page-title-wrapper" class="col-xs-8 col-xs-offset-4 col-md-5 col-md-offset-4">صفحه مدیریت ارتباط با مشتری</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4" id="main-image-wrapper">
            <img class="img-circle" src="{% static 'img/anonymous.png' %}">
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 center-horizontally">
                <h1 class="text-wrapper">سلام {{ karbarKarKhane.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 center-horizontally">
                <h2 class="text-wrapper">خوش آمدید!</h2>
            </div>
        </div>
    </div>

    <div id="link-group-wrapper" class="container-fluid">
        <div class="row">
            <div class="links-wrapper col-md-4 col-md-offset-1 container-fluid">
                <div class="links-header-wrapper row">
                    <div class="link-header-label col-md-4 col-md-offset-5 text-wrapper"><h3>کارگران</h3></div>
                    <div class="link-header-icon col-md-2 xs-invisible"><img src="{% static 'img/yellow_kargars.png' %}"></div>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'add_processformkargar' %}">ثبت فعالیت جدید برای کارگران</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_processformkargar' %}">لیست فعالیت های ثبت شده کارگران</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_kargar' %}">مشاهده لیست کارگران و افزودن کارگر</a></div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="links-wrapper col-md-4 container-fluid">
                <div class="links-header-wrapper row">
                    <div class="link-header-label col-md-4 col-md-offset-5 text-wrapper"><h3>سفارش ها</h3></div>
                    <div class="link-header-icon col-md-2 xs-invisible"><img src="{% static 'img/yellow_reserves.png' %}"></div>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_reserveform' %}">لیست تمام سفارش ها و تغییر وضعیت یک سفارش</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'change_process_reserveProcess' %}">سفارش های تازه ثبت شده(فرایند ثبت سفارش)</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_process' %}">سفارش ها بر اساس وضعیت در کار خانه</a></div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

{% elif group == 'karbarTehran' %}

<div id="te-main-wrapper">
    <div id="header-wrapper" class="container-fluid">
        <div class="row">
            <div id="user-property-wrapper" class="col-sm-4 col-xs-5 col-md-3">
                <div id="container-property" class="center-vertically">
                    <div id="username-wrapper">
                        <div id="username-label-wrapper">نام کاربری:</div>
                        <div id="username-value-wrapper">{{ name_person }}</div>
                    </div>
                    <div id="links-wrapper">
{#                        <div id="home-link"><a href="{% url 'HomepageCustomer' %}">خانه</a> |</div>#}
                        <div id="exit-link"><a href="{% url 'adminLogout' %}">خروج</a></div>
                    </div>
                </div>
                <div id="image-wrapper" class="center-vertically">
                    <img class="xs-invisible img-circle" src="{% static 'img/anonymous.png' %}">
                </div>
            </div>
            <div id="page-title-wrapper" class="col-xs-8 col-xs-offset-4 col-md-5 col-md-offset-4">صفحه مدیریت ارتباط با مشتری</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4" id="main-image-wrapper">
            <img class="img-circle" src="{% static 'img/anonymous.png' %}">
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 center-horizontally">
                <h1 class="text-wrapper">سلام {{ karbarKarKhane.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 center-horizontally">
                <h2 class="text-wrapper">خوش آمدید!</h2>
            </div>
        </div>
    </div>

    <div id="link-group-wrapper" class="container-fluid">
        <div class="row">
            <div class="links-wrapper col-md-4 col-md-offset-1 container-fluid">
                <div class="links-header-wrapper row">
                    <div class="link-header-label col-md-4 col-md-offset-5 text-wrapper"><h3>مشتریان</h3></div>
                    <div class="link-header-icon col-md-2 xs-invisible"><img src="{% static 'img/green_customers.png' %}"></div>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'add_customer' %}">ثبت مشتری جدید</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_customer' %}">لیست مشتریان و ثبت رویداد</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_customerMessages' %}">پیام های مشتریان</a></div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="links-wrapper col-md-4 container-fluid">
                <div class="links-header-wrapper row">
                    <div class="link-header-label col-md-4 col-md-offset-5 text-wrapper"><h3>سفارش ها</h3></div>
                    <div class="link-header-icon col-md-2 xs-invisible"><img src="{% static 'img/green_reserves.png' %}"></div>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_reserveform' %}">لیست تمام سفارش ها و تغییر وضعیت یک سفارش</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'change_process_reserveProcess' %}">سفارش های تازه ثبت شده(فرایند ثبت سفارش)</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_process' %}">سفارش ها بر اساس وضعیت در کار خانه</a></div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>


{% elif group == 'admin' %}

<div id="ad-main-wrapper">
    <div id="header-wrapper" class="container-fluid">
        <div class="row">
            <div id="user-property-wrapper" class="col-sm-4 col-xs-5 col-md-3">
                <div id="container-property" class="center-vertically">
                    <div id="username-wrapper">
                        <div id="username-label-wrapper">نام کاربری:</div>
                        <div id="username-value-wrapper">{{ name_person }}</div>
                    </div>
                    <div id="links-wrapper">
{#                        <div id="home-link"><a href="{% url 'HomepageCustomer' %}">خانه</a> |</div>#}
                        <div id="exit-link"><a href="{% url 'adminLogout' %}">خروج</a></div>
                    </div>
                </div>
                <div id="image-wrapper" class="center-vertically">
                    <img class="xs-invisible img-circle" src="{% static 'img/anonymous.png' %}">
                </div>
            </div>
            <div id="page-title-wrapper" class="col-xs-8 col-xs-offset-4 col-md-5 col-md-offset-4">صفحه مدیریت ارتباط با مشتری</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4" id="main-image-wrapper">
            <img class="img-circle" src="{% static 'img/anonymous.png' %}">
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 center-horizontally">
                <h1 class="text-wrapper">سلام {{ name_person }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 center-horizontally">
                <h2 class="text-wrapper">خوش آمدید!</h2>
            </div>
        </div>
    </div>

    <div id="link-group-wrapper" class="container-fluid">
        <div class="row">
            <div class="links-wrapper col-md-4 col-md-offset-1 container-fluid">
                <div class="links-header-wrapper row">
                    <div class="link-header-label col-md-4 col-md-offset-5 text-wrapper"><h3>کارگران</h3></div>
                    <div class="link-header-icon col-md-2 xs-invisible"><img src="{% static 'img/red_kargars.png' %}"></div>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'add_processformkargar' %}">ثبت فعالیت جدید کارگران</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_processformkargar' %}">لیست فعالیت های ثبت شده کارگران</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_kargar' %}">مشاهده لیست کارگران و افزودن کارگر</a></div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="links-wrapper col-md-4 container-fluid">
                <div class="links-header-wrapper row">
                    <div class="link-header-label col-md-4 col-md-offset-5 text-wrapper"><h3>سفارش ها</h3></div>
                    <div class="link-header-icon col-md-2 xs-invisible"><img src="{% static 'img/red_reserves.png' %}"></div>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_reserveform' %}">لیست تمام سفارش ها و تغییر وضعیت یک سفارش</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'change_process_reserveProcess' %}">سفارش های تازه ثبت شده(فرایند ثبت سفارش)</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_process' %}">سفارش ها بر اساس وضعیت در کار خانه</a></div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="links-wrapper col-md-4 col-md-offset-1 container-fluid">
                <div class="links-header-wrapper row">
                    <div class="link-header-label col-md-4 col-md-offset-5 text-wrapper"><h3>مشتریان</h3></div>
                    <div class="link-header-icon col-md-2 xs-invisible"><img src="{% static 'img/red_customers.png' %}"></div>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'add_customer' %}">ثبت مشتری جدید</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_customer' %}">لیست مشتریان و ثبت رویداد</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_customerMessages' %}">پیام های مشتریان</a></div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="links-wrapper col-md-4 container-fluid">
                <div class="links-header-wrapper row">
                    <div class="link-header-label col-md-4 col-md-offset-5 text-wrapper"><h3>کاربران سامانه</h3></div>
                    <div class="link-header-icon col-md-2 xs-invisible"><img src="{% static 'img/red_systemUsers.png' %}"></div>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'add_karbarTehran' %}">افزودن کاربر فروشنده</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_karbarTehran' %}">لیست کاربران فروشنده</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'add_karbarKarkhane' %}">افزودن کاربر کارخانه</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_karbarKarkhane' %}">افزودن کاربر کارخانه</a></div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="links-wrapper col-md-4 col-md-offset-1 container-fluid">
                <div class="links-header-wrapper row">
                    <div class="link-header-label col-md-4 col-md-offset-5 text-wrapper"><h3>اطلاعات پایه</h3></div>
                    <div class="link-header-icon col-md-2 xs-invisible"><img src="{% static 'img/red_baseInformation.png' %}"></div>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_dookht' %}">انواع دوخت</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_parche' %}">انواع پارچه</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_servicetarh' %}">خدمات طرح</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_chap' %}">انواع چاپ</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_otherServices' %}">سایر خدمات</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="link"><a href="{% url 'changeList_process' %}">فرايندهای خط تولید</a></div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>



{% endif %}

</body>
</html>






























