<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/headerChangeForm.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/changeFormAdminProcessFormKargar.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>

</head>
<body>

<div id="main-wrapper">
    <div id="title">
        <div id="title-page">ثبت فرایند برای سفارش</div>
        <div id="link-to-mainpage"><a href="#">صفحه اصلی</a></div>
    </div>

    <div class="field-wrapper container-fluid">
        <div class="field-wrapper-header row">فرایند</div>
        <div class="field-input-wrapper row">
            <div class="field-input col-md-2 col-md-offset-3">
                <select class="form-control">
                    {% for kargar in kargars %}
                        {% if processFormKargar.kargar and processFormKargar.kargar.id == kargar.id %}
                            <option value="{{ kargar.id }}" selected>{{ kargar.name }}</option>
                        {% else %}
                            <option value="{{ kargar.id }}">{{ kargar.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="field-label col-md-1">کارگر:</div>
            <div class="field-input col-md-2 col-md-offset-3">
                <select class="form-control">
                    {% for process in processes %}
                        {% if processFormKargar.process.id == process.id %}
                            <option value="{{ process.id }}" selected>{{ process.name }}</option>
                        {% else %}
                            <option value="{{ process.id }}">{{ process.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="field-label col-md-1">فرایند:</div>
        </div>
    </div>

</div>

</body>
</html>