<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>سامانه ارتباط با مشتری</title>

    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/customer_base.css' %}" type="text/css" rel="stylesheet">


    {% block load_style_file %}
    {% endblock %}
</head>
<body>

{% block header_page %}
    <div id="header-wrapper" class="container-fluid">
        <div class="row">
            <div id="user-property-wrapper" class="col-sm-4 col-xs-5 col-md-3">
                <div id="container-property" class="center-vertically">
                    <div id="username-wrapper">
                        <div id="username-label-wrapper">نام کاربری:</div>
                        <div id="username-value-wrapper">{{ customer.name }}</div>
                    </div>
                    <div id="links-wrapper">
                        <div id="home-link"><a href="{% url 'HomepageCustomer' %}">خانه</a> |</div>
                        <div id="exit-link"><a href="{% url 'Exit' %}">خروج</a></div>
                    </div>
                </div>
                <div id="image-wrapper" class="center-vertically">
                    <img class="xs-invisible img-circle" src="{% static 'img/anonymous.png' %}">
                </div>
            </div>
            <div id="page-title-wrapper" class="col-xs-8 col-xs-offset-4 col-md-5 col-md-offset-4">سامانه ارتباط با مشتری</div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>