<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet">
</head>
<body>

<div id="main-wrapper">
    <div id="form-wrapper">
        <div id="error_wrapper" class="error-message">
            {{ error }}
        </div>
        <form action="{% url 'Login' %}" method="post">
            {% csrf_token %}
            <div id="email-wrapper" class="input-wrapper">
                <input name="email" placeholder="email">
            </div>
            <div id="password-wrapper" class="input-wrapper">
                <input name="password" type="password">
            </div>
            <div id="submit-wrappper">
                <input type="submit" value="ورود">
            </div>
            <div id="forgetpassword_link">
                <a href="{% url 'ForgetPassword' %}">رمز خود را فراموش کردید؟</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>