{% load static %}
{% load toPersian %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link href="{% static 'css/printFactorReserve.css' %}" rel="stylesheet">
</head>
<body>

<div class="main-wrapper center-horizontally border-black">
    <div class="header">
        <img src="{% static 'img/header.jpg' %}">
    </div>
    <div class="content center-horizontally">
{#        name#}
        <div class="item clear-both">
            <div class="item-label">
                <div class="direction-rtl font">
                نام مشتری(آقا/خانم):
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {{ form.customer.name }}
                </div>
            </div>
        </div>

{#        code#}
        <div class="item clear-both">
            <div class="item-label">
                <div class="direction-rtl font">
                    کد سفارش:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {{ form.code }}
                </div>
            </div>
        </div>
        <div class="item clear-both full-width">
            <div class="item-label">
                <div class="direction-rtl font">
                تصویر طرح:
                </div>
            </div>
            <div class="full-width">
                <img src="{{ form.get_tarh_url }}" id="design-image" class="center-horizontally border-black">
            </div>
        </div>
        <div class="item clear-both full-width">
            <div class="item-label">
                <div class="direction-rtl font">
                    خدمات طرح:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {% for service in form.serviceTarh.all %}
                        {{ service.name }},
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="item clear-both half-width">
            <div class="item-label">
                <div class="direction-rtl font">
                    اندازه پارچه:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {{ form.parcheWidth|FloatToPersian }} * {{ form.parcheHeight|FloatToPersian }}
                </div>
            </div>
        </div>
        <div class="item half-width">
            <div class="item-label">
                <div class="direction-rtl font">
                    تعداد:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {{ form.number|IntegerToPersian }}
                </div>
            </div>
        </div>
        <div class="item half-width">
            <div class="item-label">
                <div class="direction-rtl font">
                    نوع دوخت:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {{ form.dookht.name }}
                </div>
            </div>
        </div>
        <div class="item half-width">
            <div class="item-label">
                <div class="direction-rtl font">
                    وجود برچسب:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {% if form.hasLabel %}
                        دارد
                    {% else %}
                        ندارد
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="item full-width">
            <div class="item-label">
                <div class="direction-rtl font">
                    نوع چاپ:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {{ form.typeChap.name }}
                </div>
            </div>
        </div>
        <div class="item half-width">
            <div class="item-label">
                <div class="direction-rtl font">
                    زمان سفارش:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {{ form.reserveYear|IntegerToPersian }}/{{ form.reserveMonth|IntegerToPersian }}/{{ form.reserveDay|IntegerToPersian }}
                </div>
            </div>
        </div>
        <div class="item half-width">
            <div class="item-label">
                <div class="direction-rtl font">
                    زمان تحویل:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font">
                    {{ form.deliveryYear|IntegerToPersian }}/{{ form.deliveryMonth|IntegerToPersian }}/{{ form.deliveryDay|IntegerToPersian }}
                </div>
            </div>
        </div>
        <div class="item full-width">
            <div class="item-label">
                <div class="direction-rtl font">
                    توضیحات:
                </div>
            </div>
            <div id="description" class="clear-both full-width">
                <div class="direction-rtl font">
                    {{ form.description }}
                </div>
            </div>
        </div>
        <div class="item half-width center-horizontally-float-right">
            <div class="item-label">
                <div class="direction-rtl font bold">
                    هزینه سفارش:
                </div>
            </div>
            <div class="item-value">
                <div class="direction-rtl font bold">
                    {{ cost }} تومان
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>