<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{% static 'css/resetPassword.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
{% block content %}

<div id="main-wrapper">
    <div id="form-wrapper">
        <form action="{% url 'ResetPassword' id %}" method="post">
            {% csrf_token %}
            <div class="error-message">
                {{ error }}
            </div>
            <div class="input-field">
                <input placeholder="رمز جدید" type="password" name="password">
            </div>
            <div class="submit-button">
                <input type="submit" value="ارسال">
            </div>
        </form>
    </div>
</div>

{% endblock %}
</body>
</html>