{% extends 'customerBase.html' %}
{% load static %}
{% load toPersian %}


{% block load_style_file %}
    <link href="{% static 'css/showReserves.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
    <div id="main-content-wrapper" class="container-fluid">
        <div class="row">
            <div id="table-wrapper" class="col-md-8 col-md-offset-2 container-fluid">
                <div class="row">
                    <div class="col-md-3 center-horizontally cell">
                        <h5 class="text-wrapper">وضعیت کنونی</h5>
                    </div>
                    <div class="col-md-3 center-horizontally cell">
                        <h5 class="text-wrapper">تاریخ تحویل</h5>
                    </div>
                    <div class="col-md-3 center-horizontally cell">
                        <h5 class="text-wrapper">تاریخ سفارش</h5>
                    </div>
                    <div class="col-md-3 center-horizontally cell">
                        <h5 class="text-wrapper">کد سفارش</h5>
                    </div>
                </div>
                {% for form in forms %}
                    <div class="row">
                        <div class="col-md-3 center-horizontally cell">
                            <h5 class="text-wrapper">{{ form.process.name }}</h5>
                        </div>
                        <div class="col-md-3 center-horizontally cell">
                            <h5 class="text-wrapper">
                                <span>{{ form.deliveryYear|IntegerToPersian }} /</span>
                                <span>{{ form.deliveryMonth|IntegerToPersian }} /</span>
                                <span>{{ form.deliveryDay|IntegerToPersian }}</span>
                            </h5>
                        </div>
                        <div class="col-md-3 center-horizontally cell">
                            <h5 class="text-wrapper">
                                <span>{{ form.reserveYear|IntegerToPersian }} /</span>
                                <span>{{ form.reserveMonth|IntegerToPersian }} /</span>
                                <span>{{ form.reserveDay|IntegerToPersian }}</span>
                            </h5>
                        </div>
                        <div class="col-md-3 center-horizontally cell">
                            <h5 class="text-wrapper">{{ form.id }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
